<div class="image-container set-full-height">
    <a href="">
            <div class="" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <div class="">
                <img src="assets/img/PRIVATE_PRINCIPAL.png" style="width: 250px;">
            </div>
        </div>
    </a>
    <!--   Big container   -->
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="wizard-card" data-color="orange" id="wizard">
                    <form action="/enviarform" method="POST">
                    <!--        You can switch " data-color="green" "  with one of the next bright colors: "blue", "azure", "orange", "red"       -->

                            <div class="wizard-header">
                                <p class="category">Cadastro dos cliente para futuro contato</p>
                            </div>
                            <div class="wizard-navigation">
                                <div class="progress-with-circle">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;"></div>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#location" data-toggle="tab">
                                            <div class="icon-circle">
                                                <i class="ti-map"></i>
                                            </div>
                                            Dados Officer
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#type" data-toggle="tab">
                                            <div class="icon-circle">
                                                <i class="ti-direction-alt"></i>
                                            </div>
                                            Dados Cliente
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#facilities" data-toggle="tab">
                                            <div class="icon-circle">
                                                <i class="ti-panel"></i>
                                            </div>
                                            Dados Caixa
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#description" data-toggle="tab">
                                            <div class="icon-circle">
                                                <i class="ti-comments"></i>
                                            </div>
                                            Comentario
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card" style="margin-top: 130px;">
                                <div class="tab-content">
                                    <div class="tab-pane" id="location">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h5 class="info-text"> Dados do Officer</h5>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>Matricula</label>
                                                    <input type="text" class="form-control" id="inpmatricula" name="inpmatricula" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label>Escritorio</label><br>
                                                    <select name="cboescritorio" id="escritorio" class="form-control">
                                                        <option disabled="" selected="">- Selecione -</option>
                                                        <option value="escri-1"> escritorio 1 </option>
                                                        <option value="escri-2"> escritorio 2 </option>
                                                        <option value="...">...</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="type">
                                        <h5 class="info-text">Dados do Cliente </h5>
                                        <div class="row">
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>Nome</label>
                                                    <input type="text" class="form-control" name="inpnopmecliente" id="inpnopmecliente" placeholder="Informe nome completo">
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>CPF/CNPJ</label>
                                                    <input type="text" class="form-control" id="inpcnpjcpf" name="inpcnpjcpf" placeholder="Informe somente numeros">
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="text" class="form-control" name="inpemail" id="inpemail" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>Telefone</label>
                                                    <input type="text" class="form-control" name="inptelefone" id="inptelefone" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>Faixa de valor </label><br>
                                                    <select name="cbovalor" id="valor" class="form-control">
                                                        <option disabled="" selected="">- Selecione -</option>
                                                        <option value="1-5mm"> 1 A 5 MM </option>
                                                        <option value="5-50mm"> 5 a 50 MM </option>														
                                                        <option value="...">...</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="facilities">
                                        <h5 class="info-text">Direcionamento do Cliente</h5>
                                        <div class="row">
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>Tipo</label>
                                                    <select class="form-control" id="tipoCliente" name="cboTipoCliente">
                                                        <option disabled="" selected="">- Selecione -</option>
                                                        <option value="agro">AGRO</option>
                                                        <option value="atacado">ATACADO </option>
                                                        <option value="private">PRIVATE</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label>Velocidade de contato</label>
                                                    <select class="form-control" id="urgenciaContato" name="cboUrgenciaContato">
                                                        <option disabled="" selected="">- Selecione -</option>
                                                        <option value="urgente">Urgente</option>
                                                        <option value="medio">Medio </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group">
                                                    <label>Tipo de Investimento</label>
                                                    <select class="form-control" id="tipoInvest" name="cboTipoInvest">
                                                        <option disabled="" selected="">- Selecione -</option>
                                                        <option value="invest">Investimentos</option>
                                                        <option value="cred">Linha de crédito</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="description">
                                        <div class="row">
                                            <h5 class="info-text"> Alguma observacao do cliente. </h5>
                                            <div class="col-sm-6 col-sm-offset-1">
                                                <div class="form-group">
                                                    <textarea class="form-control" placeholder="" rows="12" id="oBS" name="txtOBS"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-fill btn-danger btn-wd' name='next' value='Proximo' />
                                        <input type='submit' class='btn btn-finish btn-fill btn-danger btn-wd' name='finish' value='finalizar' />
                                    </div>

                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Anterior' />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>						
                        </form>
                    </div>
                </div> <!-- wizard container -->
            </div>
        </div> <!-- row -->
    </div> <!--  big container -->

    <div class="footer">
        <div class="container text-center">
            Private <i class="fa fa-heart heart"></i> by <a href="">GECFX - Wellison Peter</a>.
        </div>
    </div>
</div>
