
<a href="">
    <div class="" style="position: absolute; top: -30px; left: -20px;">
        <div class="">
            <img src="assets/img/novaLogoInternas.png" style="">
        </div>
    </div>
</a>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="wizard-container" id="loginModal">
                <div class="wizard-card">
                    <div class="modal-content" style="margin-top: 100px;">
                        <div class="modal-header">
                            <h4 class="modal-title">Confirmação de Cadastro</h4>
                        </div>
                        <div class="modal-body">
                            <div class="box">
                                    <div class="content">
                                        <div class="division">
                                            <div class="line l"></div>
                                                <span>.</span>
                                            <div class="line r"></div>
                                        </div>
                                        <div class="">
                                                <div class="col-sm-5 col-sm-offset-1">
                                                    <div class="form-group">
                                                        <h4 class="wizard-title" style="color: black;">Cadastro Realizado!</h4>
                                                    </div>
                                                </div>
                                                <div class="wizard-footer" style="margin-bottom: 30px;">
                                                    <div class="pull-right">
                                                        <input class="btn btn-default btn-login"  type="button" value="OK" onclick="loginAjax()">
                                                    </div>    
                                                </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="forgot login-footer">
                            </div>
                            <div class="forgot register-footer" style="display:none">
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>
<script type="text/javascript">
    $(document).ready(function(){
        
    });

    function loginAjax(){
        window.location.href = "/cadcliente";
    }


</script>
