<div class="row h-100 d-flex justify-content-center align-items-center">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-5">
        <div class="wizard-container">
            <div class=" login-content">
                <div class="login-header "> 
                    <h4 class="login-title">Prospecção de Clientes</h4>
                    <p class="category">Cadastro dos cliente para futuro contato</p>
                </div>
                <div class="login-body">
                    <div class="box">
                            <div class="content">
                                <div class="division">
                                    <div class="line l"></div>
                                    <div class="line r"></div>
                                </div>
                                <div class="">
                                    <h3 class="login-title">Cadastro Efetuado com Sucesso!</h3>
                                    
                                        <input class="btn btn-default btn-login"  type="button" value="Novo Cadastro" (click)="goToLogin()">
                                </div>
                            </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</div>
